
.positions-table {
    margin: 15px -8px 0;
    max-width: calc(100% + 10px);
    overflow-x: auto;
}
.positions-table table {
    width: auto;
}

.positions-table table tr td select {
    max-width: 100%;
}
.positions-table table tr th span {
    font-size: 0.75em;
}
.positions-table table tr th {
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 100%;
    padding: 5px;
    text-transform: uppercase;
    vertical-align: top;
}
.positions-table table tr td {
    padding: 3px 5px;
}
.positions-table__nowrap {
    white-space: nowrap;
}
.positions-table__input {
    margin: 0 !important;
    width: 220px !important;
}
.positions-table__input[disabled] {
    opacity: 0.4;
}
.positions-table__input_vsmall {
    width: 50px !important;
}
.positions-table__input_small {
    width: 100px !important;
}
